body {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
#formContainer {
  height: 700px;
  width: 500px;
  padding-top: 50px;
  margin: 0 auto;
  padding-left: 80px;
  font-size: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: white;
  /* font-weight: bold; */
}
#nameInput,
#lastName,
#ageInput,
#emailInput,
#passwordInput,
#confirmpasswordInput {
  height: 35px;
  width: 400px;
  background: transparent;
  border: 1px solid lightgray;
}
#button {
  height: 35px;
  width: 200px;
  margin-left: 200px;
  background: transparent;
  border: 1px solid gray;
  font-size: 15px;
  margin-top: 30px;
}
#fnameError,
#lnameError,
#ageError,
#genderError,
#emailError,
#passwordError,
#cpasswordError {
  font-size: 15px;
  color: red;
  display: none;
  position: fixed;
}
