body {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
#formContainer {
  height: 550px;
  width: 900px;
  padding-top: 60px;
  margin: 0 auto;
  padding-left: 50px;
  font-size: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: white;
  margin-top: 5%;
}
#nameInput,
#lastName,
#ageInput,
#emailInput,
#passwordInput,
#confirmpasswordInput {
  height: 35px;
  width: 400px;
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 5px;
}
#button {
  height: 45px;
  width: 200px;
  margin-left: 340px;
  background: transparent;
  border: 1px solid white;
  font-size: 15px;
  margin-top: 30px;
  background-color: #40b5ad;
  color: white;
  border-radius: 10px;
}
#fnameError,
#lnameError,
#ageError,
#genderError,
#emailError,
#passwordError,
#cpasswordError {
  font-size: 15px;
  color: red;
  position: fixed;
}
.mainDiv {
  display: flex;
}
.leftContainer {
  width: 50%;
}
.rightContainer {
  width: 50%;
}
